---
import Banner from "./Banner.astro";
import Input from "./Input.astro";
---

<div>
  <header
    class="bg-[url('/images/banner.jpg')] bg-cover bg-center aspect-[16/9] relative mx-auto pb-10 w-full flex flex-col gap-6"
  >
    <div class="container mx-auto pt-5 flex justify-between items-center">
      <a href="/">Coffea</a>
      <div class="flex items-center gap-5">
        <a>HOME</a>
        <a>COFFEE</a>
        <a>SHOP</a>
        <a>ABOUT</a>
        <a>LOGIN</a>
      </div>
      <input
        type="text"
        placeholder="Search for coffee..."
        class="px-4 py-2 rounded-md outline-none"
      />
    </div>

    <div class="container m-auto">
      <p class="text-sm tracking-[2px]">Welcome</p>
      <h2 class="text-4xl font-fanacy font-bold">
        We serve the <br /> richest coffee in <br /> the city!
      </h2>
      <button
        class="bg-white rounded-3xl mt-4 bg-primary px-6 py-3 text-black w-max cursor-pointer"
      >
        Order Now
      </button>
    </div>
  </header>

  <style></style>
</div>
