---
import { sanityClient } from "sanity:client";
import { Search, Menu } from "@lucide/astro";
---

<>
  <header class="fixed w-full top-0 z-50 bg-white shadow-md p-5">
    <div class="container mx-auto flex justify-between items-center px-5">
      <a href="/">Coffea</a>
      <div class="flex items-center gap-5 max-md:hidden">
        <a href="/">HOME</a>
        <a href="/menu">COFFEE</a>
        <a href="/shop">SHOP</a>
        <a href="/about">ABOUT</a>
        <a href="/">LOGIN</a>
      </div>

      <Search class="max-md:hidden" />

      <Menu id="openSidebar" class="md:hidden" />
    </div>
  </header>

  <div
    id="overlay"
    class="fixed inset-0 z-40 bg-black/50 opacity-0 pointer-events-none transition-opacity duration-300"
  >
  </div>

  <!-- Sidebar -->
  <aside
    id="sidebar"
    class="fixed top-0 right-0 z-50
    h-full w-72
    bg-neutral-900 text-white
    translate-x-full
    transition-transform duration-300 ease-in-out"
  >
    <div
      class="flex items-center justify-end px-6 py-4 border-b border-white/10"
    >
      <button id="closeSidebar"> ✕ </button>
    </div>

    <nav class="flex flex-col gap-6 px-6 py-8 text-lg">
      <a href="#" class="hover:text-lime-400">Home</a>
      <a href="#" class="hover:text-lime-400">Coffee</a>
      <a href="#" class="hover:text-lime-400">Shop</a>
      <a href="#" class="hover:text-lime-400">About</a>
      <a href="#" class="hover:text-lime-400">Login</a>
    </nav>
  </aside>
  <style></style>
</>

<script is:inline>
  const openBtn = document.getElementById("openSidebar");
  const closeBtn = document.getElementById("closeSidebar");
  const sidebar = document.getElementById("sidebar");
  const overlay = document.getElementById("overlay");

  function openSidebar() {
    sidebar.classList.remove("translate-x-full");
    overlay.classList.remove("opacity-0", "pointer-events-none");
  }

  function closeSidebar() {
    sidebar.classList.add("translate-x-full");
    overlay.classList.add("opacity-0", "pointer-events-none");
  }

  openBtn.addEventListener("click", openSidebar);
  closeBtn.addEventListener("click", closeSidebar);
  overlay.addEventListener("click", closeSidebar);

  document.addEventListener("keydown", (e) => {
    if (e.key === "Escape") closeSidebar();
  });
</script>
