---
import { urlFor } from "@/lib/sanityImage";
import PortableTextBlock from "../PortableText/index.jsx";

const data = Astro.props;
---

<section class="container m-auto grid grid-cols-1 md:grid-cols-2 gap-5">
  <div>
    <img
      src={urlFor(data.image).url()}
      alt="Intro Image"
      class="mx-auto mt-8 rounded-lg shadow-lg max-w-full h-auto"
    />
  </div>
  <div
    class="content-center text-end prose max-w-none prose-h3:text-2xl prose-p:text-base prose-p:prose-a:mt-5"
  >
    <PortableTextBlock value={data.text} />
  </div>
</section>
